<h1 class="workspace-titles">Folders of <strong>{{space.name}}</strong></h1>

{{#each folders}}
<div class="table-responsive table-container">
    <table class="table folders-table table-hover">
    <thead>
        <tr>
        <th scope="col">Folder Name</th>
        <th scope="col">Number of lists</th>
        <th scope="col">Number of tasks</th>
        <th scope="col">Specific lists</th>
        <th scope="col">All your lists</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{name}}</th>
            <td>{{lists.length}}</td>
            <td>{{task_count}}</td>
            <td>
                {{#each lists}}
                    <li class="table-uri"><a href="/profile/lists/{{id}}">{{name}}</a></li>
                {{/each}}
            </td>
            <td><a href="/profile/lists/{{id}}">See all lists.</a></td>
        </tr>
    </table>
</div>
{{/each}}


{{!-- {{#each folders}}
<div>
    <ul>
        <li><strong>Space's name: {{space.name}}</strong></li>
        <li><strong>Folder's name: {{name}}</strong></li>
        <li>Number of tasks in this folder: {{task_count}}</li>
        <li>Lists on this folder: {{lists.lengh}}</li>
        <li><a href="/profile/lists/{{id}}">See all lists in this folder</a></li>
        {{#each lists}}
            <ul>
                <li>{{name}}</li>
            </ul>
        {{/each}}
    </ul>
{{/each}} --}}