<h1 class="workspace-titles">Folders of <strong>{{folders.space.name}}</strong></h1>

{{#each folders}}
<div class="table-responsive table-container">
    <table class="table folders-table table-hover">
    <thead>
        <tr>
        <th scope="col">Folder Name</th>
        <th scope="col">Number of lists</th>
        <th scope="col">Number of tasks</th>
        <th scope="col">Specific lists</th>
        <th scope="col">All your lists</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">{{name}}</th>
            <td>{{lists.length}}</td>
            <td>{{task_count}}</td>
            <td><a href="/profile/lists/{{id}}">See all lists.</a></td>
        </tr>
    </table>
</div>
{{/each}}