<h1>Folders of <strong>{{space.name}}</strong> space:</h1>

{{#each folders}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">Folder Name</th>
      <th scope="col">Number of lists</th>
      <th scope="col">Number of tasks</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{name}}</th>
      <td>{{lists.lengh}}</td>
      <td>{{task_count}}</td>
      <td>@<a href="/profile/lists/{{id}}">See all lists in this folder</a></td>
    </tr>
</table>
{{/each}}

{{#each folders}}
<div>
    <ul>
        <li><strong>Space's name: {{space.name}}</strong></li>
        <li><strong>Folder's name: {{name}}</strong></li>
        <li>Number of tasks in this folder: {{task_count}}</li>
        <li>Lists on this folder: {{lists.lengh}}</li>
        <li><a href="/profile/lists/{{id}}">See all lists in this folder</a></li>
        {{#each lists}}
            <ul>
                <li>{{name}}</li>
            </ul>
        {{/each}}
    </ul>
{{/each}}