<div class="container mt-5">
    <div class="card container-summary">
        <div class="card-header">
            <h1>Total Lists: {{lists.length}}</h1>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {{#each lists}}
        <div class="col">
        <div class="card card-container-lists">
            <div class="card-body card-header-lists">
            <h5 class="card-title">{{name}}</h5>
            </div>
            <div class="card-body">
            <p><strong>Space: {{space.name}}</strong></p>
            <p><strong>Folder: {{folder.name}}</strong></p>
            <p><strong>Number of Tasks:{{task_count}}</strong></p>
            <div class="row row-cols-12 row-cols-lg-2 g-4 botones-contenedor-lista">
                <div class="col mx-auto ">
                <a class="see-next-btn" href="/profile/tasks/{{id}}">See all tasks</a>
                </div>
                <div class="col mx-auto">
                <a class="delete-button" href="/profile/list/delete/{{id}}">Delete</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    {{/each}}

  </div>

</div>

{{!-- <div class="table-responsive table-container">
    <table class="table folders-table table-hover">
    <thead>
        <tr>
            <th scope="col">List name</th>
            <th scope="col">Number of tasks</th>
            <th scope="col">Go to your tasks</th>
            <th scope="col">Remove list</th>
        </tr>
    </thead>
    <tbody>
        {{#each lists}}
            <tr>
                <td>{{name}}</td>
                <td>{{task_count}}</td>
                <td><a href="/profile/tasks/{{id}}">See all Tasks.</a></td>
                <td><a class="delete-task" href="/profile/list/delete/{{id}}">Delete</a></td>
            </tr>
        {{/each}}
    </table>
</div> --}}

<h2 class="workspace-titles">Create a new list</h2>
<div class="table-responsive table-container">
    <form action="/profile/lists/{{id}}" method="post">
        <table class="table folders-table table-hover">
        <thead>
            <tr>
            <th scope="col">Name your list</th>
            <th scope="col">Create your list</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="input-create" type="text" name="listName" id="" placeholder="Write your list name." required></td>
                <td>
                    <button class="create-btn" type="submit">Create a new list</button>
                </td>
            </tr>
        </table>
    </form>
</div>
