<h1 class="workspace-titles" >Lists</h1>
<h1 class="workspace-titles" >{{lists.folder.name}}</h1>

<div class="table-responsive table-container">
    <table class="table folders-table table-hover">
    <thead>
        <tr>
            <th scope="col">List name</th>
            <th scope="col">Number of tasks</th>
            <th scope="col">Go to your tasks</th>
            <th scope="col">Remove list</th>
        </tr>
    </thead>
    <tbody>
        {{#each lists}}
            <tr>
                <td>{{name}}</td>
                <td>{{task_count}}</td>
                <td><a href="/profile/tasks/{{id}}">See all Tasks.</a></td>
                <td><a class="delete-task" href="/profile/list/delete/{{id}}">Delete</a></td>
            </tr>
        {{/each}}
    </table>
</div>

<h2 class="workspace-titles">Create a new list</h2>
<div class="table-responsive table-container">
    <form action="/profile/lists/{{id}}" method="post">
        <table class="table folders-table table-hover">
        <thead>
            <tr>
            <th scope="col">Name your list</th>
            <th scope="col">Create your list</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="input-create" type="text" name="listName" id="" placeholder="Write your list name." required></td>
                <td>
                    <button class="create-btn" type="submit">Create a new list</button>
                </td>
            </tr>
        </table>
    </form>
</div>
