<h1>Lists</h1>


{{#each lists}}
<div>
    <ul>
        <li><strong>Space's name: {{space.name}}</strong></li>
        <li><strong>Folder's name: {{folder.name}}</strong></li>
        <li><strong>List name: {{name}}</strong></li>
        <li>Number of tasks in this folder: {{task_count}}</li>
        <li><a href="/profile/tasks/{{id}}">See all tasks in this list</a></li>
    </ul>
{{/each}}