<h1>SPACES</h1>

<h1 class="workspace-titles">Spaces</strong></h1>

<div class="table-responsive table-container">
    <table class="table folders-table table-hover">
    <thead>
        <tr>
        <th scope="col">Team's Name</th>
        <th scope="col">Number of members</th>
        <th scope="col">List of members</th>
        <th scope="col">Go to your lists</th>
        </tr>
    </thead>
    <tbody>
        {{#each spaces}}
        <tr>
            <td>{{name}}</td>
            <td>{{members.length}}</td>
            <td class="table-uri"> 
                {{#each members}}
                    <li>{{user.username}}</li>
                    <li><img src="{{user.profilePicture}}" alt=""></li>
                {{/each}}
            </td>
            <td><a href="/profile/folders/{{id}}">See all lists.</a></td>
        </tr>
        {{/each}}
    </table>
</div>





<h2>Create a new space</h2>
<form action="/profile/spaces" method="POST">
    <label for="">Team name:</label>
    <input type="text" name="teamName" placeholder="Team's name" id="" required>
    <button type="submit">Create Space</button>
</form>