<h1 class="workspace-titles">Spaces</strong></h1>

<p>Space id{{spaces.id}}</p>
<p>Space id{{id}}</p>


<div class="table-responsive table-container">
    <table class="table folders-table table-hover">
    <thead>
        <tr>
        <th scope="col">Team's Name</th>
        <th scope="col">Number of members</th>
        <th scope="col">List of members</th>
        <th scope="col">Go to your lists</th>
        </tr>
    </thead>
    <tbody>
        {{#each spaces}}
        <tr>
            <td>{{name}}</td>
            <td>{{members.length}}</td>
            <td class="table-uri"> 
                {{#each members}}
                    <li><img class="profile-image-spaces" src="{{user.profilePicture}}" alt=""></li>
                    <li>{{user.username}}</li>
                {{/each}}
            </td>
            <td><a href="/profile/folders/{{id}}">See all Folders.</a></td>
        </tr>
        {{/each}}
    </table>
</div>




<h2 class="workspace-titles">Create a new space</h2>
<div class="table-responsive table-container">
    <form action="/profile/spaces/${}">
        <table class="table folders-table table-hover">
        <thead>
            <tr>
            <th scope="col">Name your space</th>
            <th scope="col">Asign an ID</th>
            <th scope="col">Create your Space</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="input-create" type="text" name="spaceName" id="" placeholder="Write your space name." required></td>
                <td><input class="input-create" type="text" name="spaceId" id="" placeholder="Write a 5 digit number" required></td>
                <td>
                    <button class="create-btn" type="submit">Create a new Space</button>
                </td>
            </tr>
        </table>
    </form>
</div>
