<h1>Tasks</h1>

<h1 class="workspace-titles">Tasks</strong></h1>

<div class="table-responsive table-container">
    <table class="table folders-table table-hover">
    <thead>
        <tr>
            <th scope="col">Task name</th>
            <th scope="col">Number of assigness</th>
            <th scope="col">List of assigness</th>
            <th scope="col">Remove task</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>{{name}}</td>
            <td>{{assignees.length}}</td>
            {{#each assignees}}
                <td class="table-uri">
                    <li>{{username}}</li>
                    <li><img class="profile-image-spaces" src="{{profilePicture}}" alt=""></li>
            {{/each}}
            <td><a class="delete-task" href="`https://api.clickup.com/api/v2/task/${{id}}/`">Delete</a></td>
        </tr>
        {{/each}}
    </table>
</div>

<h2 class="workspace-titles">Create a new task</h2>

<div class="table-responsive table-container">
    <form action="/profile/tasks/{{id}}" method="post">
        <table class="table folders-table table-hover">
        <thead>
            <tr>
            <th scope="col">Name your task</th>
            <th scope="col">Create your task</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="input-create" type="text" name="taskName" id="" placeholder="Write your space name."></td>
                    <button class="create-btn" type="submit">Create a new task</button>
                </td>
            </tr>
        </table>
    </form>
</div>