<h1>Tasks</h1>

<h1 class="workspace-titles">Tasks</strong></h1>

<div class="table-responsive table-container">
    <table class="table folders-table table-hover">
    <thead>
        <tr>
            <th scope="col">Task name</th>
            <th scope="col">Number of assigness</th>
            <th scope="col">List of assigness</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>{{name}}</td>

                <td>Number of assigness</td>

        </tr>
        {{/each}}
    </table>
</div>

<h2 class="workspace-titles">Create a new task</h2>

<div class="table-responsive table-container">
    <form action="">
        <table class="table folders-table table-hover">
        <thead>
            <tr>
            <th scope="col">Name your task</th>
            <th scope="col">Asign an ID</th>
            <th scope="col">Create your task</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="input-create" type="text" name="taskName" id="" placeholder="Write your space name."></td>
                <td><input class="input-create" type="text" name="taskId" id="" placeholder="Write a 5 digit number"></td>
                <td>
                    <button class="create-btn" type="submit">Create a new task</button>
                </td>
            </tr>
        </table>
    </form>
</div>




{{#each tasks}}
<div>
    <ul>
        <li><strong>Space's name: {{space.name}}</strong></li>
        <li><strong>Folder's name: {{folder.name}}</strong></li>
        <li><strong>List's name: {{list.name}}</strong></li>
        <li><strong>Task's name: {{name}}</strong></li>
    </ul>
{{/each}}