<h1>Tasks</h1>

<h1 class="workspace-titles">Tasks</strong></h1>

<div class="table-responsive table-container">
    <table class="table folders-table table-hover">
    <thead>
        <tr>
            <th scope="col">Task name</th>
            <th scope="col">Number of assigness</th>
            <th scope="col">Remove task</th>
            <th scope="col">Due date</th>
            <th scope="col">Priority</th>
        </tr>
    </thead>
    <tbody>
        {{#each tasks}}
        <tr>
            <td>{{name}}</td>
            <td>{{assignees.length}}</td>
            {{#each assignees}}
                <td class="table-uri">
                    <li>{{username}}</li>
                    <li><img class="profile-image-spaces" src="{{profilePicture}}" alt=""></li>
            {{/each}}
            {{#if due_date}}
            <td>{{due_date}}</td>
            <td><input type="date" value="{{due_date}}" name="" id=""></td>
            {{else}}
            <td><input class="date-input" type="date"></td>
            {{/if}}
            <td>
                <select name="" id="">
                    <option class="date-input" value=""></option>
                    <option class="date-input" value="low">Log</option>
                    <option class="date-input" value="normal">Normal</option>
                    <option class="date-input" value="high">High</option>
                    <option class="date-input" value="urgent">Urgent</option>
                </select>
            </td>
            <td><a class="delete-task" href="/profile/tasks/delete/{{id}}">Delete</a></td>
            <td><a class="update-task" href="/profile/tasks/update/{{id}}">Edit</a></td>
        </tr>
        {{/each}}
    </table>

</div>

<h2 class="workspace-titles">Create a new task</h2>

<div class="table-responsive table-container">
    <form action="/profile/tasks/{{id}}" method="post">
        <table class="table folders-table table-hover">
        <thead>
            <tr>
            <th scope="col">Name your task</th>
            <th scope="col">Create your task</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="input-create" type="text" name="taskName" id="" placeholder="Write your space name.">
                </td>
                <td>
                    <button class="create-btn" type="submit">Create a new task</button>
                </td>
            </tr>
        </table>
    </form>
</div>


