<h1>Teams</h1>

<div class="card" style="width: 18rem;">
    {{#each teams}}
        <img src="{{avatar}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><strong>Team's name: {{name}}</strong></h5>
            <h5 class="card-title"><strong>Members</strong></h5>
            <p>Number of members: {{members.length}}</p>
            <p>List of members</p>
            <a href="/profile/spaces/{{id}}">See all folders</a>

            {{#each members}}
            <ul>
                <li>{{user.username}}</li>
            </ul>
            {{/each}}
        </div>
    {{/each}}
</div>