{{!-- <h1>Teams</h1>

<div class="card" style="width: 18rem;">
    {{#each teams}}
        <img src="{{avatar}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><strong>Team's name: {{name}}</strong></h5>
            <h5 class="card-title"><strong>Members</strong></h5>
            <p>Number of members: {{members.length}}</p>
            <p>List of members</p>
            <a href="/profile/spaces/{{id}}">See all Spaces</a>

            {{#each members}}
            <ul>
                <li>{{user.username}}</li>
            </ul>
            {{/each}}
        </div>
    {{/each}}
</div> --}}

{{#each teams}}
<section class="text-center container mt-5">
	<main class="form-signin col-lg-4 mx-auto contenedor-formulario contenedor-saludo">
    <img src="" alt="">
    <h1>Team's name:{{name}}</h1>
			<div class="form-floating">
                <p>Number of members:{{members.length}}</p>
                
                {{#each members}}
                    <p>{{user.username}}</p>
                {{/each}}
			</div>
			<button class="w-100 btn btn-lg btn-primary mt-3" type="submit"><a href="/profile/teams">See all spaces</a></button>
	</main>
</section>
{{/each}}