<h1>Teams</h1>

<div class="card" style="width: 18rem;">
    {{#each teams}}
        <img src="{{avatar}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"><strong>Team's name: {{name}}</strong></h5>
            <h5 class="card-title"><strong>Members</strong></h5>
            <p>Number of members: {{members.length}}</p>
            <p>List of members</p>
            <a href="/profile/spaces/{{id}}">See all Spaces</a>

            {{#each members}}
            <ul>
                <li>{{user.username}}</li>
            </ul>
            {{/each}}
        </div>
    {{/each}}
</div>


<div class="containerss">
  <div class="cardss">
    <img src="{{avatar}}" alt="Person" class="card__image">
    <p class="card__name">Team's name: {{name}}</p>
    <div class="grid-container">

      <div class="grid-child-posts">
        List of members
      </div>

      <div class="grid-child-followers">
        <a href="/profile/spaces/{{id}}">See all Spaces</a>
      </div>
{{#each members}}
            <ul>
                <li>{{user.username}}</li>
            </ul>
            {{/each}}
    {{/each}}
</div>
