<div class="container mt-5">
  <div class="card container-summary">
    <div class="card-header">
      <h1>Total tasks:</h1>
    </div>
  </div>
</div>



<div class="container mt-5">

  {{#each tasks}} 
    <div class="row task-row align-items-center">
      <div class="col col-lg-4 d-lg-flex">
        <a href="/profile/tasks/update/{{id}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square task-icon" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
        </a>
        <p>{{name}}</p>
      </div>
      {{#each assignees}}
        <div class="col col-lg-3">
          <p><b>Assigned to:</b></p>
          <div class="d-flex task-member-container">
            <img class="task-member-pic" src="/images/defaultprofile.png" alt="">
            <p>Oswaldo</p>
          </div>
        </div>
      {{/each}}

      <div class="col col-lg-2">
        {{#if due_date}}
          <p>{{due_date}}</p>
        {{else}}
          <p>No due date.</p>
        {{/if}}
      </div>

      <div class="col col-lg-2">
         {{#if priority}}
          <p>{{priority}}</p>
        {{else}}
          <p>Low</p>
        {{/if}}
      </div>
      
      <div class="col col-lg-1">
        <a href="/profile/tasks/delete/{{id}}">Delete</a>
      </div>
    </div>
  {{/each}}

</div>

 {{!-- align-items-center d-flex --}}