
<div class="container mt-5">
    <div class="card container-summary">
        <div class="card-header d-flex">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-folde-fill align-self-center icon-data" viewBox="0 0 16 16">
            <path d="M9.828 3h3.982a2 2 0 0 1 1.992 2.181l-.637 7A2 2 0 0 1 13.174 14H2.825a2 2 0 0 1-1.991-1.819l-.637-7a1.99 1.99 0 0 1 .342-1.31L.5 3a2 2 0 0 1 2-2h3.672a2 2 0 0 1 1.414.586l.828.828A2 2 0 0 0 9.828 3zm-8.322.12C1.72 3.042 1.95 3 2.19 3h5.396l-.707-.707A1 1 0 0 0 6.172 2H2.5a1 1 0 0 0-1 .981l.006.139z"/>
            </svg>
            <h1 class="align-self-center" >Total Folders: {{folders.length}}</h1>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      {{#each lists}}
        <div class="col">
        <div class="card card-container-lists">
            <div class="card-body card-header-lists">
            <h5 class="card-title">Folder name{{name}}</h5>
            </div>
            <div class="card-body">
            <p><strong>Space: </strong>{{space.name}}</p>            <p><strong>Lists in this folder: </strong>{{lists.length}}</p>
            <p><strong>Tasks in this folder: </strong>{{task_count}}</p>
            <div class="row row-cols-12 row-cols-lg-2 g-4 botones-contenedor-lista">
                <div class="col mx-auto ">
                <a class="see-next-btn" href="/profile/lists/{{id}}">See all lists</a>
                </div>
                <div class="col mx-auto">
                <a class="delete-button" href="/profile/folders/delete/{{id}}">Delete</a>
                </div>
            </div>
            </div>
        </div>
        </div>
        {{/each}}

  </div>

</div>


{{!-- FRONT FOR ONBOARDING --}}

{{!-- <section class="text-center container mt-5">
	<main class="form-signin col-lg-4 mx-auto contenedor-formulario contenedor-saludo">
    <h1>Hi, Oswaldo!</h1>
			<div class="form-floating">
        <p>We love you are back to work. Are you prepare to be productive today?</p>
			</div>
			<button class="w-100 btn btn-lg btn-primary mt-3" type="submit"><a href="https://app.clickup.com/api?client_id=MTQ6E6ABG2IQZHO4LSAGYKHKY2HAGWCC&redirect_uri=https://task-managermx.herokuapp.com/workspace">Yes, take me to my spaces</a></button>
	</main>
</section> --}}

{{!-- LIST ROUTES TO CREATE --}}

{{!-- <div class="container mt-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">

        <div class="col">
        <div class="card card-container-lists">
            <div class="card-body card-header-lists">
            <h5 class="card-title"></h5>
            </div>
            <div class="card-body">
            <p><strong>Space: </strong></p>
            <p><strong>Folder: </strong></p>
            <p><strong>Number of Tasks: </strong></p>
            <div class="row row-cols-12 row-cols-lg-2 g-4 botones-contenedor-lista">
                <div class="col mx-auto ">
                <a class="see-next-btn" href="/profile/tasks/{{id}}">See all tasks</a>
                </div>
                <div class="col mx-auto">
                <a class="delete-button" href="/profile/list/delete/{{id}}">Delete</a>
                </div>
            </div>
            </div>
        </div>
        </div>


  </div>

<div class="container mt-5 mb-5 d-flex justify-content-start">
      <form action="/profile/tasks/{{id}}" method="post"></form>
      <div class="row list-row-create ">
              <div class="col col-lg-12 align-self-center input-container">
                <label class="create-list-label" for="">Create a new list here:</label>
                <input type="text" name="taskName" id="" placeholder="Name your new list here.">
              </div>
              <div class="col col-lg-12 mx-auto input-container">
                  <button type="submit" class="create-button create-button-link">Create</button>
              </div>
        </div>
      </form>
</div> --}}

{{!-- TASKS GET Y CREATE --}}

{{!-- <div class="container mt-5">
  <div class="row task-row align-items-center">
      <div class="col col-lg-4 d-lg-flex">
          <a href="/profile/tasks/update/{{id}}">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-pencil-square task-icon" viewBox="0 0 16 16">
          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
          </a>
          <p>NAME OF TASK</p>
      </div>
      <div class="col col-lg-3">
        <p><b>Assigned to:</b></p>
        <div class="d-flex task-member-container">
          <img class="task-member-pic" src="/images/defaultprofile.png" alt="">
          <p>Oswaldo</p>
        </div>
      </div>
      <div class="col col-lg-2">
        <p>No due date.</p>
      </div>

      <div class="col col-lg-2">
          <p>Low</p>
      </div>
        
      <div class="col col-lg-1">
          <a href="/profile/tasks/delete/{{id}}">Delete</a>
      </div>
  </div>

</div> --}}





{{!-- <div class="container mt-5 mb-5">
    <form action="/profile/tasks/{{id}}" method="post"></form>
    <div class="row task-row-create align-items-center">
            <div class="col col-lg-4 d-lg-flex">
                <input type="text" name="taskName" id="" placeholder="Create a new task here.">
            </div>
            <div class="col col-lg-3">
                <div class="d-flex">
                <select name="" id="">
                    <option class="date-input" value="1">Oswaldo</option>
                </select>
                </div>
            </div>
            <div class="col col-lg-2">
                <input type="date" name="dueDate">
            </div>

            <div class="col col-lg-2">
                <select class="select-priority"  name="priority" id="" selected="selected">
                <option value="">--</option>
                <option  value="4">Low</option>
                <option  value="3">Normal</option>
                <option  value="2">High</option>
                <option  value="1">Urgent</option>
                </select>
            </div>
            <div class="col mx-auto ">
                <button type="submit" class="create-button create-button-link">Create</button>
            </div>
      </div>
    </form>
</div> --}}





{{!-- LIST FRONT END --}}


{{!-- <div class="container mt-5">

  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card card-container-lists">
        <div class="card-body card-header-lists">
          <h5 class="card-title">Card title</h5>
        </div>
        <div class="card-body">
          <p><strong>Space:</strong></p>
          <p><strong>Folder:</strong></p>
          <p><strong>Number of Tasks:</strong></p>
          <div class="row row-cols-12 row-cols-lg-2 g-4 botones-contenedor-lista">
            <div class="col mx-auto ">
              <a class="see-next-btn" href="">See all tasks</a>
            </div>
            <div class="col mx-auto">
              <a class="delete-button" href="">Delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  </div>

</div> --}}
