<div class="table-responsive table-container">
    <table class="table folders-table table-hover">
    <thead>
        <tr>
            <th scope="col">Task name</th>
            <th scope="col">Number of assigness</th>
            <th scope="col">Remove task</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>{{name}}</td>
            <td>{{assignees.length}}</td>

                <td class="table-uri">
                    <li>{{username}}</li>
                    <li><img class="profile-image-spaces" src="{{profilePicture}}" alt=""></li>

            <td>{{due_date}}</td>
            <td><input class="date-input" type="date"></td>
            <td><a class="delete-task" href="/profile/tasks/delete/{{id}}">Delete</a></td>
            <td><a class="update-task" href="/profile/tasks/delete/{{id}}">Edit</a></td>
        </tr>
    </table>

</div>